@import url('node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.ws--500 {
  font-weight: 500;
}

.ws--400 {
  font-weight: 400;
}

.ws--600 {
  font-weight: 600;
}

.ws--700 {
  font-weight: 700;
}

.backround-color {
  background-color: #e5e5e5;
}

.background-image {
  height: 100vh;
  background-color: #fff;
  background-image: url('./assets/images/Header-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.my-title {
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.37px;
  color: #091e42;
}

.my-subtitle {
  font-size: 20px;
  line-height: 28px;
  color: #344563;
}
.connect {
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

ul li {
  list-style-type: none;
}

.icon li {
  margin-right: 15px;
}

.fa-brands {
  color: #505F79;
}


footer {
  background-color: #fff;
}

.contact {
  background-color: #6070ff;
  padding: 142px 0 127px 0;
}

.contact-title {
  font-size: 40px;
  line-height: 52px;
}

.contact-subtitle {
  font-size: 20px;
  line-height: 28px;
  width: 569px;
}

.card-content {
  margin-left: 25%;
  margin-top: 10%;
  width: 50%;
}

.tech-btn {
  color: blue;
}

.project-btn {
  margin-top: 20px;
}